<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="commentary-form">
  <mat-card>
    <mat-card-title>Commentary</mat-card-title>
    <mat-card-content>
      Min: {{minute}}'

      <mat-form-field class="input-full-width">
        <textarea matInput placeholder="Commentary" formControlName="message" required cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!myForm.valid" color="primary">Save</button>
    </mat-card-actions>
  </mat-card>

</form>