<!-- <ul>
  <li style="display:inline;">
    <a mat-tab-link [routerLink]="['events']">Events</a>
  </li>
  ||
  <li style="display:inline;">
    <a mat-tab-link [routerLink]="['lineUp']">lineUp</a>
  </li>
  ||
  <li style="display:inline;">
    <a mat-tab-link [routerLink]="['statistics']">statistics</a>
  </li>
  ||
  <li style="display:inline;">
    <a mat-tab-link [routerLink]="['commentary']">commentary</a>
  </li>
</ul> -->
<nav mat-tab-nav-bar>
  
  <a mat-tab-link [routerLink]="['lineUp']">lineUp</a>

  <a mat-tab-link [routerLink]="['events']">Events</a>
  <a mat-tab-link [routerLink]="['statistics']">statistics</a>
  <a mat-tab-link [routerLink]="['commentary']">commentary</a>

</nav>
<router-outlet></router-outlet>
