.events-form {
    max-width:  90%;
    width: 350px;
    margin: 100px auto 0;
  }
  
  .input-full-width {
    width: 100%;
  }

  .type-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .type-radio-button {
    margin: 5px;
  }
  