<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="events-form">
  <mat-card>
    <mat-card-title>Event</mat-card-title>
    <mat-card-content>
        Min: {{minute}}'


      <mat-form-field class="input-full-width">
        <input matInput placeholder="Player Name" formControlName="player" required>
      </mat-form-field>

      <label id="type-radio-group-label">Type</label>
      <mat-radio-group aria-labelledby="type-radio-group-label" class="type-radio-group" formControlName="type"
        required>
        <mat-radio-button class="type-radio-button" *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="input-full-width">
        <input matInput type="number" placeholder="Home Score" formControlName="homeScore" required>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input matInput type="number" placeholder="Away Score" formControlName="awayScore" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!myForm.valid" color="primary">Save</button>
    </mat-card-actions>
  </mat-card>



</form>