<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="signup-form">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="First Name" formControlName="firstName" required>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" required> 
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input matInput placeholder="Email" formControlName="email" required>
        <!-- <mat-error *ngIf="!myForm.get('email').valid">Invalid Email</mat-error> -->
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input type="confirmPassword" matInput placeholder="Confirm Password" formControlName="confirmPassword" required>
        <!-- <mat-error *ngIf="myForm.hasError('notSame')">Passwords do not match</mat-error>   -->
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Sign Up</button>
      <button mat-button>Login</button>
    </mat-card-actions>

  </mat-card>
</form>