<p>
  statistics works!
</p>
<table>
  <tr>
    <th>Home Team</th><th>Away Team</th>
  </tr>
  <tr>
    <td colspan="2" >Shot on target</td>
  </tr>
  <tr>
    <td class="home">3</td>
    <td class="away">4</td>
  </tr>
  <tr>
    <td colspan="2" >Shot off target</td>
  </tr>
  <tr>
      <td class="home">3</td>
      <td class="away">4</td>
  </tr>
  <tr>
      <td colspan="2" >possession (%)</td>
    </tr>
    <tr>
        <td class="home">3</td>
        <td class="away">4</td>
    </tr>
    <tr>
        <td colspan="2" >corners</td>
      </tr>
      <tr>
          <td class="home">{{dataStatistic.corners.homeTeam}}</td>
          <td class="away">4</td>
      </tr>
      <tr>
          <td colspan="2" >offsides</td>
        </tr>
        <tr>
            <td class="home">3</td>
            <td class="away">4</td>
        </tr>
        <tr>
            <td colspan="2" >fouls</td>
          </tr>
          <tr>
              <td class="home">3</td>
              <td class="away">4</td>
        </tr>  
        <tr>
            <td colspan="2" >goal kicks</td>
          </tr>
          <tr>
              <td class="home">3</td>
              <td class="away">4</td>
          </tr>                    
</table>