<table *ngIf="match != null" >
    <tr>
        <th colspan="2" >coach</th>
    </tr>
    <tr>
      <th>Home Team</th><th>Away Team</th>
    </tr>
    <tr>
        <td>Home Team</td><td>Away Team</td>
      </tr>
    <tr>
        <th colspan="2" >substitutions</th>
    </tr>
    <tr>
      <th>Home Team</th><th>Away Team</th>
    </tr>
    <tr>
      <td>asdf</td>
      <td>adsf</td>
    </tr>
    <tr>
        <th colspan="2" >substitute players</th>
    </tr>
    <tr>
      <th>Home Team</th><th>Away Team</th>
    </tr>  
</table>

substitutions:
29' 
Sven Nieuwpoort
Lars Nieuwpoort
65' 
Anco Jansen
Reuven Niemeijer
62' 
Daryl Van Mieghem
Delano Burgzorg

substitute players:
Hidde Jurjus
Peter Van der Vlag
Lars Nieuwpoort
Stef Gronsveld
Robert Klaasen

coach:
Henk De Jong
Dick Lukkien
