<table *ngIf="match != null" >
    <tr>
        <th colspan="2" >coach</th>
    </tr>
    <tr>
      <th>Home Team:{{match.homeTeam.coach}}</th><th>Away Team:{{match.awayTeam.coach}}</th>
    </tr>
    <tr>
        <th colspan="2" >substitutions</th>
    </tr>
    <tr>
      <td *ngIf="match.homeTeam.substitutes != null">
        <table *ngFor="let par of match.homeTeam.substitutes" >
          <tr><td rowspan="2">{{par.minute }}</td>
            <td><img src="assets/icons/green2.gif" alt="Player in" height="20" width="20">{{par.playerIn}}</td></tr>
          <tr><td>
            <img src="assets/icons/out.gif" class="rotate90"  alt="Player Out" height="20" width="20"> 
            {{par.playerOut }}</td></tr> 
        </table> 
      </td><td *ngIf="match.awayTeam.substitutes != null" class="awaytd" >
          <table *ngFor="let par of match.awayTeam.substitutes" >
            <tr><td rowspan="2">{{par.minute }}</td>
              <td><img src="assets/icons/green2.gif" alt="Player in" height="20" width="20">{{par.playerIn}}</td></tr>
            <tr><td>
              <img src="assets/icons/out.gif" class="rotate90"  alt="Player Out" height="20" width="20"> 
              {{par.playerOut }}</td></tr> 
          </table> 
        </td>
    </tr>
    <tr>
      <td>asdf</td>
      <td>adsf</td>
    </tr>
    <tr>
        <th colspan="2" >substitute players</th>
    </tr>
    <tr>
      <th>Home Team</th><th>Away Team</th>
    </tr>  
</table>