
 <mat-grid-list cols="2" >
  <mat-grid-tile rowspan="3" ><app-list-matches></app-list-matches></mat-grid-tile>
  <mat-grid-tile><app-match-details></app-match-details></mat-grid-tile>
  <mat-grid-tile>
    <app-admin></app-admin>
     </mat-grid-tile>
  <!-- <mat-grid-tile><app-match-update></app-match-update></mat-grid-tile> -->
  <mat-grid-tile><app-create-match></app-create-match></mat-grid-tile>
</mat-grid-list>

  <!-- <p>
    matches Components
  </p>
  <app-list-matches></app-list-matches>
  <app-match-details></app-match-details>
  <p>
    admin components
  </p>
  <app-create-match></app-create-match>
  <app-admin></app-admin>
   -->