mat-sidenav-content {
    //background-color: aqua;
    //background-image: url('/client/src/assets/icons/backgroud1.jpg');
}
mat-grid-tite  {
    height: 50%;
    width: 50%;
    max-width: 500px;
    max-height: 500px;
}

.control {
    background-color:#3d4888; 
}

.example-spacer {
    flex: 1 1 auto;
}

.strictSpace{
    max-width: 100%;
    max-height: 100%;
    background-color: aqua;
    position:absolute ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  