<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Login</button>
      <button mat-button>Sign Up</button>
    </mat-card-actions>
  </mat-card>
</form>