<div *ngIf="match != null" >
<mat-tab-group  animationDuration="2000ms" >
  <mat-tab label="Match Info">
      <table mat-table [dataSource]="dataSourceEvents">
          <ng-container matColumnDef="minute">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.minute}}'' </td>
          </ng-container>
          <ng-container matColumnDef="player">
            <th mat-header-cell *matHeaderCellDef> Player </th>
            <td mat-cell *matCellDef="let element"> {{element.player}} </td>
          </ng-container>
          <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef> event </th>
            <td mat-cell *matCellDef="let element"> {{element.event}} </td>
          </ng-container>
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Home-Away </th>
            <td mat-cell *matCellDef="let element"> {{element.homeScore}} - {{element.awayScore}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>
  <mat-tab label="Tracker"><app-tracker></app-tracker> </mat-tab>
  <mat-tab label="Statistics"><app-statistics></app-statistics></mat-tab>
  <mat-tab label="line-up"><app-line-up></app-line-up> </mat-tab>
</mat-tab-group >
<p>Details match between {{match.homeTeam.name}} and {{match.awayTeam.name}} </p>
</div>
    